h1 {
 text-shadow: 2px 2px #F8BBD0;
  font-size: 20px;
    text-align: center;
  padding-bottom: 20px;
}
p {
  text-align: center;
}
#section {
  padding: 20px;
  font-size: 18;
  text-align: center;
}
html {
   background: linear-gradient(#A5DE94 0%,#299C39  100%);
}

